/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu a {
  color: #555;
  margin-left: 24px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.2s ease;
}

.menu a:hover {
  color: #f4a261;
}

/* Corpo */
body {
  background-color: #c9f9d8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  max-width: 1100px;
  text-align: left;
  margin-top: 60px;
}

/* Título e subtítulo */
h1 {
  color: #175b43;
  font-size: 2rem;
}

h1 span {
  color: #f4a261;
}

p.subtitle {
  margin-top: 12px;
  color: #333;
  line-height: 1.5;
  font-size: 1.05rem;
}

p.subtitle strong {
  color: #175b43;
}

/* Botões principais */
.button-group {
  margin-top: 32px;
  display: flex;
  justify-content: left;
  gap: 16px;
}

.btn-primary,
.btn-secondary {
  padding: 12px 28px;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #175b43;
  color: white;
}

.btn-primary:hover {
  background-color: #134032;
}

.btn-secondary {
  background-color: #f4a261;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #d68535;
}

/* Seção de projetos */
.projects-section {
  margin-top: 60px;
  text-align: left;
}

.projects-section h2 {
  color: #000;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

/* Cards */
.project-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card h3 {
  color: #000;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.project-card p {
  color: #555;
  font-size: 0.9rem;
  margin-bottom: 12px;
}

/* Progresso */
.progress-bar {
  background: #eee;
  border-radius: 6px;
  height: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}

.progress {
  background: #f4a261;
  height: 100%;
  border-radius: 6px;
}

.project-card a {
  color: #175b43;
  font-weight: 600;
  text-decoration: none;
  text-align: right;
}

.project-card a:hover {
  text-decoration: underline;
}
