/* Apenas ajustes de layout e responsividade para o container de cards */
#my-projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

/* Botão de carregar mais */
#loadMoreBtn {
    transition: background-color 0.2s ease;
}
#loadMoreBtn:hover {
    background-color: #e6952b;
}
